@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    height: 100vh;
}

.s-container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.l-slider{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: transform 0.5s ease-in-out;
}

.l-slider div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.l-slider h1{
    font-size: 2.7em;
    letter-spacing: 2px;

}

.l-slider p{
    font-size: 1.5em;
    letter-spacing: 2px;

}
.r-slider{
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0;
    left: 35%;
    transition: transform 0.5s ease-in-out;
}

.r-slider div{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 1.4em;
    color: rgb(163, 163, 163);
    padding: 15px;
}

button:hover{
    color: black;
}

.action-btn button{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 200;
}

.action-btn .down-btn{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.action-btn .up-btn{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}



