@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-color: #091921;
}

#date{
    position: absolute;
    margin: auto;
    text-align: center;
    font-size: 3.4em;
    font-weight: 500;
    color: rgb(102, 247, 104);
    margin-top: -50px;
}

#time{
    display: flex;
    margin: auto;
    gap: 40px;
    color: aliceblue;
    margin-top: 330px;
}

#time .circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;

}

#time .circle svg{
    position: relative;
    height: 150px;
    width: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle{
    height: 100%;
    width: 100%;
    fill: transparent;
    stroke: #404040;
    stroke-width: 5;
    transform: translate(5px,5px);

}

#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.6em;
    color: var(--clr);
}

#time div span{
    position: absolute;
    transform: translateX(-50%) translateY(-8px);
    font-size: 0.40em;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--clr);
}

#time .ap{
    position: relative;
    font-size: 1.6em;
    transform: translateX(-20px);
    color: rgb(143, 102, 247);
}

.dots{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots::before{
    content: '';
    position: absolute;
    top: -3px;
    height: 15px;
    width: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr) ,
                0 0 60px var(--clr) ;
}